<mat-list *ngIf="contact">
    <mat-list-item>
        <img matListAvatar [src]="contact.picture.thumbnail">
        <h3 matLine> {{contact.name.title}} {{contact.name.first}}
            {{contact.name.last}} </h3>
    </mat-list-item>
    <mat-list-item aria-label="gender"  class="row"> <b>Gender:&nbsp; </b> {{contact.gender}} </mat-list-item>
    <mat-list-item aria-label="cell" class="row"> <b>Cell:&nbsp;</b> {{contact.cell}} </mat-list-item>
    <mat-list-item aria-label="phone" class="row"> <b>Phone:&nbsp; </b> {{contact.phone}} </mat-list-item>
    <mat-list-item aria-label="email" class="row"> <b>Email:&nbsp; </b> {{contact.email}} </mat-list-item>
    <mat-list-item aria-label="age" class="row"> <b>Age:&nbsp; </b> {{contact.dob.age}} </mat-list-item>
    <mat-list-item aria-label="birthdate" class="row"> <b>Birthdate:&nbsp; </b> {{contact.dob.date}} </mat-list-item>
    <mat-list-item aria-label="address" class="row"> <b>Address:&nbsp; </b> {{contact.location.street.number}} {{contact.location.street.name}} {{contact.location.city}} {{contact.location.state}} {{contact.location.country}} </mat-list-item>
    <mat-list-item aria-label="timezone" class="row"> <b>Timezone:&nbsp; </b> {{contact.location.timezone.offset}} </mat-list-item>
    <mat-button-toggle aria-label="backButton" fxLayout="row" fxLayoutAligh="center" [routerLink]="['/contact-list']">Back</mat-button-toggle>
</mat-list>