  .pad-bot {
    padding-bottom: 1rem;
  }

  .card-spacing {
    padding: 1rem;
  }
/* 
  .card {
    transition: all .1s ease;
    transform-style: preserve-3d;
  }

  .card:hover {
    transform: rotateY(180deg);
  } */

  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
  }

  .front-card-length {
    min-height: 425px;
  }

  .back-card-length {
    min-height: 385px;
    overflow-y: scroll;

  }

  .full-width {
    width: 100%;
  }

  .is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
