<!-- <mat-toolbar color="primary">
   Address Book
</mat-toolbar> -->
<!-- 
<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="20px" ngClass.gt-xs="ml-10">
  <mat-card *ngFor="let contact of contactList" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
    <mat-card-title>{{contact.name.title}} {{contact.name.first}}  {{contact.name.last}}</mat-card-title>
    <img mat-card-image style="display: block;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="{{contact.picture.large}}" class="image">
    <mat-card-content>Primary card content. Intended for blocks of text</mat-card-content>
    <mat-card-actions>Container for buttons at the bottom of the card</mat-card-actions>
  </mat-card>
</div> -->

<!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card *ngFor="let contact of contactList" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="maxWidth">
        <mat-card-header>
            <img mat-card-md-image [src]="contact.picture.large" class="floatLeft">
            <mat-card-title>{{contact.name.title}} {{contact.name.first}}  {{contact.name.last}}</mat-card-title>
            <mat-card-subtitle>{{contact.phone}}  {{contact.email}}</mat-card-subtitle>
        </mat-card-header>
      
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div> -->
  
<div fxFlex fxLayout="column" fxLayoutGap="15px" style="height: 100vh">
    <mat-toolbar color="primary" class=" pad-bot">
        Address Book
     </mat-toolbar> 

     <div class="loading-indicator">
        <mat-spinner *ngIf="!apiDataLoaded"></mat-spinner>
    </div>
    <div *ngIf="apiDataLoaded" fxLayout="row wrap">
      <!-- loop over the cardList and show the cards -->
      <div
        *ngFor="let contact of contactList"
        fxFlex="25"
        fxFlex.md="33"
        fxFlex.sm="50"
        fxFlex.xs="100"
        fxLayout="column"
        class="card-spacing"
      >
        <!-- cards here -->
        <mat-card class="mat-elevation-z1">
          <img mat-card-image [src]="contact.picture.large" />
          <mat-card-title> {{contact.name.title}} {{contact.name.first}} {{contact.name.last}}</mat-card-title>
          <mat-card-content> Phone Number: {{contact.phone}} <br/> Email: {{contact.email}} </mat-card-content>
          <mat-card-actions align="end">
            <mat-icon matTooltip="flip for more contact info">rotate_left</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- <div>
    <mat-grid-list cols="4" gutterSize="10px">
        <mat-grid-tile *ngFor="let contact of contactList">
            <mat-card>
                <img mat-card-md-image [src]="contact.picture.large" class="floatLeft">
                <mat-card-title>{{contact.name.title}} {{contact.name.first}}  {{contact.name.last}}</mat-card-title>
                <mat-card-subtitle>{{contact.phone}}  {{contact.email}}</mat-card-subtitle> 
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
  </div>
   -->